.env
docs/kubernetes/dpl.yaml
docs/kubernetes/odpl.yaml
docs/kubernetes/pod.yaml
docs/kubernetes/pvc.yaml
docs/kubernetes/oingress.yaml
docs/kubernetes/ns.yaml
docs/kubernetes/ns-config.yaml
.DS_Store