<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {{.title}}
        </title>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/bootstrap-social.min.css">
        <link rel="stylesheet" href="../styles/bootstrap.min.css">
    </head>
    <body>
        <div id="logo_container">
            <!--add logo-->
            <h2>Tenant API</h2>
        </div>
        <div class="card">
            <h3>GitHub project(s):</h3>
            <a href="https://github.com/natron-io/tenant-api">https://github.com/natron-io/tenant-api</a> <br/>
            <a href="https://github.com/natron-io/tenant-dashboard">https://github.com/natron-io/tenant-dashboard</a>
            <p style="background-color: rgb(139, 139, 139);">
                Status: {{.status}} <br/>
                Dashboard enabled: {{.frontendAuthEnabled}} <br/>
            </p>
            <!--if .frontendAuthEnabled is false-->
            {{if not .frontendAuthEnabled}}
                <a id="github-button" class="btn btn-block btn-github" href="/login/github">
                    <img src="../images/GitHub-Mark-Light-32px.png" alt="GitHub logo" />
                    &nbsp;&nbsp;&nbsp; Sign in with GitHub
                </a>
            {{end}}
        </div>
    </body>
</html>